<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <a href="#" class="navbar-brand">
        <img src="/img/icons8-planejador-50.png" alt="">
    </a>

    <ul class="navbar-nav mr-auto">

        
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/img/icons8-planejador-50.png" alt="" width="30" height="32">
              </a>

        </div>


        <div class="container-fluid">
            <li class="nav-item">
                -> A persistência é o caminho do êxito
            </li>
        </div>
    </ul>

    <ul class="navbar-nav ml- ">
        Sair
    </ul>

</nav> -->


<nav>

    <ul>

        <li class="nav-item">
            <img src="/img/icons8-planejador-50.png" >
            <a href="/tasks">> PlanningOut</a>

            <p class="cit"> 
                "a persistência é o caminho do êxito"
            </p>

            <p class="nav-right">
                <a href="/logout">
                    Sair <
                </a>
            </p>

        </li>
        
    </ul>


</nav>