

<%- include('../partials/header.ejs')%>

<link rel="stylesheet" href="css/init.css">

<body>  

    
    <main class="landingpage">

        <h1>PlanningOut</h1>

        <p>Planeje seu dia com sucesso!</p>

        <a href="/login">
            <button>Começar</button>
        </a>

    </main>


</body>

<%- include('../partials/footer.ejs')%>